contexttimer
decord
easydict
einops>=0.4.1
fairscale==0.4.4
ftfy
iopath
ipython
msgspec
omegaconf
opendatasets
opencv-python
packaging
pandas
plotly
pre-commit
pycocoevalcap
pycocotools
python-magic
scikit-image
sentencepiece
spacy
streamlit
tabulate
tensorboard
termcolor
timm==0.4.12
tqdm
-e git+https://github.com/huggingface/transformers.git@ba7054533fa455e8b2dd35feb077e0c7aae646b3#egg=transformers # v4.29.2
webdataset
wheel
