contexttimer
decord
einops>=0.4.1
fairscale==0.4.4
ftfy
iopath
ipython
omegaconf
opendatasets
packaging
pandas
plotly
pre-commit
pycocoevalcap
pycocotools
python-magic
scikit-image
sentencepiece
spacy
streamlit
timm==0.4.12
tqdm
webdataset
wheel
